*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item1 li{
    padding: 5px;

}
.home {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.about_img{

   width:50%;
 display: flex;
 gap: 15px;
 transition: 0.3s;
}
img{
    width: 100%;
    border-radius: 15px;
    
}
img:hover{
    
 transform: scale(1.05);
}
.hover_btn {
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    width: 200px;
    height: 40px;
}

.hover_btn_blue .span1 {
    background-color: rgba(0, 82, 204, 0.85);;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.hover_btn_blue .span2 {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: "Roboto", sans-serif;
     font-size: 18px;
}

.hover_btn .span2 {
    transform: translateY(0%);
    z-index: 1;
    transition: 0.3s ease;
}

.hover_btn:hover .span2 {
    transform: translateY(100%);
}

.hover_btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 35px;
}

.hover_btn .span1 {
    top: 0;
    left: -100%;
    position: absolute;
    transition: 0.3s ease;
    z-index: 2;
}

.hover_btn:hover .span1 {
    left: 0%;
}

footer {
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 15px;
    max-width: 100%;
    margin: 0 auto;
}
.footer_text{
    display: flex;
    justify-content: center;
    gap: 15px;
}

